@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
    --accent: #C6C6C6;
    --bg: #fff;
    --fg: #000;
}

html,
body {
    margin: 0;
    padding: 0;
}

/* Basic styles */

body {
    font-family: 'Source Sans Pro', sans-serif;
}