@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
    --accent: #C6C6C6;
    --bg: #fff;
    --fg: #000;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Basic styles */

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    background: var(--accent);
}

.pfp {
    max-width: 34px;
    max-height: 34px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

.icon {
    max-height: 22px;
}

.bold {
    font-weight: 700;
}

/* Layout */

.container {
    max-width: 375px;
    margin: 2rem auto;
}

/* Top bar */

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--accent);
    padding: 1rem;
    background: var(--bg);
}

.top-logo {
    max-width: 127px;
}

/* Post */

.post-card:not(:first-child) {
    margin-top: 1.5rem;
}

.post-card {
    background: var(--bg);
}

.post-header {
    display: flex;
    align-items: center;
    padding: 0.8em;
    column-gap: 0.5em;
}

.post-header-content span {
    display: block;
}

.post-bottom {
    padding: 1.2em 0.8em;
}

.icon-bar {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
}

.post-likes {
    padding-block: 0.9em;
}